<%= render 'layouts/errors', object: @update %>

<%= form_for [@challenge, @update], remote: true do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, value: DateTime.now.strftime("%A, %m/%d/%Y"), class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :picture, accept: "image/jpeg, image/jpg, image/gif, image/png" %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
