<%= render 'layouts/errors', object: @challenge %>

<%= form_for [@user, @challenge], remote: true do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="field">
    <!-- creates a collection of check boxes for all Category models with value of category.id and label of category.name -->
    <strong>Add Categories:</strong><br>
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
      <%= b.label { b.check_box } %>
      <%= b.object.name %>
    <% end %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
