<%= render 'layouts/errors', object: @challenge %>

<%= form_for [@user, @challenge], remote: true do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
