<% if current_user && user_signed_in? %>
  <h4>
    Create a new challenge:
    <%= link_to (fa_icon 'plus-square'), new_user_challenge_path(current_user), id: 'new-challenge-link', remote: true %>
  </h4>
  <div id='new-challenge-form'></div>
  <hr>
<% end %>

<!-- user_challenges_path -->
<% if @user %>
  <h3>
    <%= @user.username %>'s challenges
    <% unless current_user.eql?(@user) %>
      <%= render 'subscriptions/follow_unfollow' %>
    <% end %>
  </h3>

  <%= render 'listing', user: @user %>

<!-- challenges_path -->
<% else %>

  <% @users.each do |user| %>
    User: <%= link_to user.username, user_challenges_path(user) %>
      <div class="well">
        <%= render 'listing', user: user %>
      </div>
  <% end %>
<% end %>
