<div class="row">
  <div class="col-xs-5">
    <!-- Challenge preview -->
    <div id="challenge-render">
      <%= render @challenge %>
    </div>

    <!-- Challenge description -->
    <div id="challenge-description">
      <%= render 'challenge_description' %>
    </div>

    <hr>
    <!-- Edit/Delete -->
    <% if current_user.eql?(@user) %>
      <%= render 'edit_delete_form' %>
    <% end %>
  </div>

  <div class="col-xs-7">

    <!-- Add update -->
    <% if current_user.eql?(@user) %>
      <h3>
        <%= link_to (fa_icon 'plus-square'), new_challenge_update_path(@challenge), id: 'new-update-link', remote: true %>
      </h3>
      <div id="new-update-form"></div>
    <% end %>

    <!-- Updates listing -->
    <h3>Updates:</h3>
    <% unless @challenge.updates.any? %>
      <p>
        <%= @challenge.user.username %> hasn't added any updates, yet!
      </p>
    <% end %>

    <%= render 'updates/listing' %>
  </div>
</div>
