<!DOCTYPE html>
<html>
<head>
  <title>Streaks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Nav -->
    <%= render 'layouts/navbar' %>

    <div class='container'>
      <!-- Flash Messages -->
      <% if alert %>
        <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
      <% end %>

      <% if notice %>
        <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
      <% end %>
      <br>

      <!-- View -->
      <%= yield %>
    </div>
</body>
</html>
